{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container py-5">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Vous êtes connecté(e)!</strong> Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% else %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputName">Nom ou Email</label>
            <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" required autofocus>
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

        <div class="row">
            <div class="col-12">
                <button class="btn btn-lg border-dark my-4 float-right" type="submit">
                    Connexion
                </button>
            </div>
            <div class="col-12">
                <a class="lead float-right" href="{{ path('app_signup') }}">Vous n'avez pas de compte ?</a>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
