{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="display-4 font-weight-bold">Nos modèles</h1>
            {% if types|length > 1 %}
            <p class="font-italic text-muted mb-0">Choisissez parmis nos <strong>{{ types|length }}</strong>
                modèles différents</p>
            {% endif %}
        </div>

        <div class="row pb-5 mb-4" id="grid-types">

            {% if types|length > 0 %}
                {% for type in types|slice(0, 7) %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <a href="{{ path('type', {id: type.id})}}" class="text-dark">
                            <div class="card-body p-4"><img src="{{ asset('media/img/types/' ~ type.image.name) }}" alt=""
                                                            class="img-fluid d-block mx-auto mb-3">
                                <h3>
                                    {{ type.name }}
                                </h3>
                                {% if type.vehicules|length > 0 %}
                                    <p class="small font-bold float-right">À partir de {{ type.vehicules.0.prix }} €/j</p>
                                {% else %}
                                    <p class="small font-bold float-right text-danger">En rupture de stock</p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="col-lg-12 col-md-12 mb-12">
                Aucune voiture disponible! Revenez plus tard
            </div>
            {% endif %}

            {% if types|length > 8 %}
            <nav class="col-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}