{% extends 'base.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('dates') }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row pb-5 mb-4">
            <div class="col">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <a class="fa_icon" href="{{ path('index_home') }}">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <div class='row align-items-center'>
                            <div class="col-8">
                                <img src="{{ vich_uploader_asset(type, 'imageFile', 'App\\Entity\\TypeVehicule') | imagine_filter('thumb_4_3') }}" alt="" class="img-fluid d-block mx-auto mb-3">
                            </div>
                            <div class="col-4">
                                <h5>{{ type.name }}</h5>
                                {% if vehicules|length > 1 %}
                                    <p class="small text-muted font-italic"><strong>{{ vehicules|length }}</strong> disponibles</p>
                                {% else %}
                                    <p class="small text-muted font-italic"><strong>{{ vehicules|length }}</strong> disponible</p>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_start(form) }}

                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                            <div class="form-row align-items-center">
                                <div class="form-group col-xl-3 col-md-12 col-xs-12 input">
{#                                    TODO mise en page ici#}
                                    {% if estReccurent %}
                                        <span>Réservation récurrente: paiement mensuel à -10% à partir du {{ savedDates.Debut }}</span>
                                    {% else %}
                                        <span>Location du {{ savedDates.Debut }} au {{ savedDates.Fin }}</span>
                                    {% endif %}
                                </div>
                                {#TODO Trier les résultats#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel2">Critères 2:</label>#}
{#                                    <select class="form-control" id="sel2">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel3">Critères 3:</label>#}
{#                                    <select class="form-control" id="sel3">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel4">Critères 4:</label>#}
{#                                    <select class="form-control" id="sel4">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
                            </div>
                            <input name="hiddenDate" class="currentDate" type="hidden" hidden>
                            <input class="btn btn-primary float-right" type="submit" value="Afficher les résultats">
                        {{ form_end(form) }}

                        <div class="container-fluid py-5">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('danger') %}
                                <div class="alert alert-danger">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}

                            {% for vehicule in vehicules %}
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="vehicule_{{ vehicule.id }}" action="{{ path('location_louer', {'id': vehicule.id} ) }}" method="post">

                                        <label for="date_{{ vehicule.id }}" hidden></label>
                                        <input id="date_{{ vehicule.id }}" name="date" class="inputDate" hidden>
                                        <h3>
                                            {{ type.name }}
                                        </h3>

{#                                        <p class="small text-muted">Loueur: <a href="loueur.html">{{ vehicule.loueur.name }}</a></p>#}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="img-fluid d-block rounded" alt="{{vehicule['image.name']}}"
                                                     src="{{ vich_uploader_asset(vehicule, 'imageFile', 'App\\Entity\\Vehicule') | imagine_filter('thumb_4_3') }}" />
                                            </div>
                                            <div class="col-md-4">
                                                <dl>
                                                    {% for key, descr in vehicule.carac %}
                                                        <dt>
                                                            {{ key }}
                                                        </dt>
                                                        <dd>
                                                            {{ descr }}
                                                        </dd>
                                                        <br />
                                                    {% endfor %}
                                                </dl>
                                            </div>
                                            <div class="col-md-4">
{#                                                //TODO Mise en page#}
                                                {% if estReccurent %}
                                                    <h3 class="text-center">{{ vehicule.prix * 0.9 * 30}} €/mois</h3>
                                                    <small class="text-center">{{ vehicule.prix * 0.9 }} €/jours -10%</small>
                                                {% elseif days >= 30 %}
                                                    <h3 class="text-center">{{ vehicule.prix * 0.9 * days }} €</h3>
                                                    <small class="text-center">{{ vehicule.prix * 0.9 }} €/jours -10%</small>
                                                {% else %}
                                                    <h3 class="text-center">{{ vehicule.prix * days }} €</h3>
                                                    <small class="text-center">{{ vehicule.prix }} €/jours</small>
                                                {% endif %}
                                                {# TODO Lien panier#}
{#                                                <label for="form_select_{{ loop.index - 1 }}" class="btn btn-main btn-outline-primary m-2 px-2">Ajouter au panier</label>#}
                                                    <input type="submit" class="validateLocation btn btn-main btn-outline-primary m-2 px-2" value="Réserver Maintenant">
    {#                                            {{ form_label(form.select[loop.index - 1]) }}#}
    {#                                            {{ form_widget(form.select[loop.index - 1], {'attr': {'class': 'form-check-input', 'onchange':'registerLocation()'}}) }}#}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('dates') }}
        <script>
            $(document).ready(function () {

                {% if savedDates.Debut is not empty and savedDates.Fin is not empty%}
                    $('.currentDate').val("{{ savedDates.Debut }}" + " - " + "{{ savedDates.Fin }}");
                {% endif %}

                //permet de mettre à jour les dates pour les envoyer automatiquement
                $(document).ready(function () {
                    $('.validateLocation').on('mouseover', function () {
                        var textDate = $('.currentDate').val();
                        $('.inputDate').each(function (index) {
                            $(this).val(textDate);
                        });
                    });
                });

            });
        </script>
    {% endblock %}
{% endblock %}