{% extends 'base.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('dates') }}
{% endblock %}

{% block body %}
    <div class="container py-5" xmlns="http://www.w3.org/1999/html">
        <div class="row pb-5 mb-4">
            <div class="col">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <a class="fa_icon" href="{{ path('index_home') }}">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <div class='row align-items-center'>
                            <div class="col-8">
                                <img src="{{ vich_uploader_asset(type, 'imageFile', 'App\\Entity\\TypeVehicule') | imagine_filter('thumb_4_3') }}" alt="" class="img-fluid d-block mx-auto mb-3">
                            </div>
                            <div class="col-4">
                                <h5>{{ type.name }}</h5>
                                {% if vehicules|length > 1 %}
                                    <p class="small text-muted font-italic"><strong>{{ vehicules|length }}</strong> disponibles</p>
                                {% else %}
                                    <p class="small text-muted font-italic"><strong>{{ vehicules|length }}</strong> disponible</p>
                                {% endif %}
                            </div>
                        </div>

                            <div class="row align-items-center">
                                    {% if estReccurent %}
                                        <div class="jumbotron w-100">
                                            <div class="container">
                                                <h1 class="display-4">Location mensuelle</h1>
                                                <p class="lead">Un paiement chaque mois, réservé pour vous pour une durée indéterminé, annulable à partir du premier mois! </p>
                                                <span>A partir du {{ savedDates.Debut }}</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="jumbotron w-100">
                                            <div class="container">
                                                <h1 class="display-5">Location personalisée</h1>
                                                <p class="lead">Profiter d'une location à des dates précises, qui convient à tous, à partir d'un jour!</p>
                                                <span>Location du <strong>{{ savedDates.Debut }}</strong> au <strong>{{ savedDates.Fin }}</strong></span>
                                            </div>
                                        </div>
                                    {% endif %}
                            </div>

                        <div class="container-fluid py-5">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('danger') %}
                                <div class="alert alert-danger">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}

                            {% for vehicule in vehicules %}
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="vehicule_{{ vehicule.id }}" action="{{ path('location_louer', {'id': vehicule.id} ) }}" method="post">

                                        <label for="date_{{ vehicule.id }}" hidden></label>
                                        <input id="date_{{ vehicule.id }}" name="date" class="inputDate" hidden>
                                        <h3>
                                            {{ type.name }}
                                        </h3>

{#                                        <p class="small text-muted">Loueur: <a href="loueur.html">{{ vehicule.loueur.name }}</a></p>#}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="img-fluid d-block rounded" alt="{{vehicule['image.name']}}"
                                                     src="{{ vich_uploader_asset(vehicule, 'imageFile', 'App\\Entity\\Vehicule') | imagine_filter('thumb_4_3') }}" />
                                            </div>
                                            <div class="col-md-4">
                                                <dl>
                                                    {% for key, descr in vehicule.carac %}
                                                        <dt>
                                                            {{ key }}
                                                        </dt>
                                                        <dd>
                                                            {{ descr }}
                                                        </dd>
                                                        <br />
                                                    {% endfor %}
                                                </dl>
                                            </div>
                                            <div class="col-md-4">
                                                {% if estReccurent %}
                                                    <h3 class="text-center">{{ vehicule.prix * 0.9 * 30}} €/mois</h3>
                                                    <small class="float-right" style="color:orangered"><small style="color:black;text-decoration: line-through;">{{ vehicule.prix }}</small> <strong>{{ vehicule.prix * 0.9 }}</strong> €/jours -10%</small>
                                                {% elseif days >= 30 %}
                                                    <h3 class="text-center">{{ vehicule.prix * 0.9 * days }} €</h3>
                                                    <small class="float-right" style="color:orangered"><small style="color:black;text-decoration: line-through;">{{ vehicule.prix }}</small> <strong>{{ vehicule.prix * 0.9 }}</strong> €/jours -10%</small>
                                                {% else %}
                                                    <h3 class="text-center">{{ vehicule.prix * days }} €</h3>
                                                    <small class="float-right">{{ vehicule.prix }} €/jours</small>
                                                {% endif %}

                                                {% if is_granted('ROLE_USER') %}
                                                <button type="button" class="validateLocation btn btn-main btn-outline-primary m-2 px-2" data-toggle="modal" data-target="#M_{{ vehicule.id }}">
                                                    Réserver Maintenant
                                                </button>
                                                {% else %}
                                                    <button type="button" class="validateLocation btn btn-main btn-outline-primary m-2 px-2" data-toggle="modal" data-target="#needLogin">
                                                        Réserver Maintenant
                                                    </button>
                                                {% endif %}

                                                <!-- Confirmation -->
                                                <div class="modal fade" id="M_{{ vehicule.id }}" tabindex="-1" role="dialog" aria-labelledby="BuyM_{{ vehicule.id }}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="BuyM_{{ vehicule.id }}">Confirmation de location</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Ce véhicule vous sera facturé
                                                                {% if estReccurent %}
                                                                    <strong>{{ vehicule.prix * 0.9 * 30}}€/mois</strong>
                                                                     à partir du
                                                                    {{ savedDates.Debut }}
                                                                {% elseif days >= 30 %}
                                                                    <strong>{{ vehicule.prix * 0.9 * days }} €</strong> du
                                                                    {{ savedDates.Debut }} au {{ savedDates.Fin }}
                                                                {% else %}
                                                                    <strong>{{ vehicule.prix * days }} €</strong> du
                                                                    {{ savedDates.Debut }} au {{ savedDates.Fin }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                                                                <input type="submit" class="btn btn-primary validateLocation" value="Confirmer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="modal fade" id="needLogin" tabindex="-1" role="dialog" aria-labelledby="NeedLoginLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="NeedLoginLabel">Veuillez vous connecter</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            La réservation d'un véhicule nécessite un compte utilisateur.
                                        </div>
                                        <input name="hiddenDate" class="currentDate" type="hidden" hidden>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                                            <a href="{{ path('app_connexion') }}" class="btn btn-primary">Connexion/Inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('dates') }}
        <script>
            $(document).ready(function () {

                {% if savedDates.Debut is not empty and savedDates.Fin is not empty%}
                    $('.currentDate').val("{{ savedDates.Debut }}" + " - " + "{{ savedDates.Fin }}");
                {% endif %}

                //permet de mettre à jour les dates pour les envoyer automatiquement
                $(document).ready(function () {
                    $('.validateLocation').on('mouseover', function () {
                        var textDate = $('.currentDate').val();
                        $('.inputDate').each(function (index) {
                            $(this).val(textDate);
                        });
                    });
                });

            });
        </script>
    {% endblock %}
{% endblock %}