{% extends 'base.html.twig' %}

{% block style %}
    {{ encore_entry_link_tags('dates') }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <div class="row pb-5 mb-4">
            <div class="col">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <div class='row align-items-center'>
                            <div class="col-8">
                                <img src="{{ asset('media/img/types/' ~ type.image.name) }}" alt="" class="img-fluid d-block mx-auto mb-3">
                            </div>
                            <div class="col-4">
                                <h5>{{ type.name }}</h5>
                                {% if type.vehicules.count > 1 %}
                                    <p class="small text-muted font-italic"><strong>{{ type.vehicules.count }}</strong> disponibles</p>
                                {% else %}
                                    <p class="small text-muted font-italic"><strong>{{ type.vehicules.count }}</strong> disponible</p>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_start(form) }}

                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                            <div class="form-row align-items-center">
                                <div class="form-group col-xl-3 col-md-12 col-xs-12 input">
{#                                    <input id="litepicker" type="text" class="form-control">#}
                                    {{ form_row(form.date) }}
                                </div>
                                {#TODO Trier les résultats#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel2">Critères 2:</label>#}
{#                                    <select class="form-control" id="sel2">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel3">Critères 3:</label>#}
{#                                    <select class="form-control" id="sel3">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                                <div class="form-group col-xl-3 col-md-6 col-xs-12">#}
{#                                    <label for="sel4">Critères 4:</label>#}
{#                                    <select class="form-control" id="sel4">#}
{#                                        <option>1</option>#}
{#                                        <option>2</option>#}
{#                                        <option>3</option>#}
{#                                        <option>4</option>#}
{#                                    </select>#}
{#                                </div>#}
                            </div>
{#                            <input class="btn btn-primary float-right" type="" value="Afficher les résultats">#}

                        <div class="container-fluid py-5">
                            {% for vehicule in type.vehicules %}
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        {{ type.name }}
                                    </h3>
                                    {# TODO Ajouter la page de loueur#}
                                    <p class="small text-muted">Loueur: <a href="loueur.html">{{ vehicule.loueur.name }}</a></p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-fluid d-block rounded" alt="Nom de l'annonce" src="{{ asset('media/img/vehicules/' ~ vehicule.image.name) }}" />
                                        </div>
                                        <div class="col-md-4">
                                            <dl>
                                                {% for key, descr in vehicule.carac %}
                                                    <dt>
                                                        {{ key }}
                                                    </dt>
                                                    <dd>
                                                        {{ descr }}
                                                    </dd>
                                                {% endfor %}
                                            </dl>
                                        </div>
                                        <div class="col-md-4">
                                            <h3 class="text-center">{{ vehicule.prix }} €</h3>
                                            {# TODO Lien panier#}
                                            <label for="form_select_{{ loop.index - 1 }}" class="btn btn-main btn-outline-primary m-2 px-2">Ajouter au panier</label>
                                            <label for="form_select_{{ loop.index - 1 }}" class="btn btn-main btn-primary m-2 p-3">Réserver Maintenant</label>
                                            {{ form_label(form.select[loop.index - 1]) }}
                                            {{ form_widget(form.select[loop.index - 1], {'attr': {'class': 'form-check-input', 'onchange':'registerLocation()'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('dates') }}
        <script>

            function registerLocation() {
                $(document).ready(function() {
                    $( "form" ).submit();
                })
                $('input[type="submit"]').click(function(){
                    $('input[type="checkbox"]').each(function(){
                        $(this).prop('checked', false);
                    });
                });
            }
        </script>
    {% endblock %}
{% endblock %}