{% extends 'renter/index.html.twig' %}

{% block sidebard %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("renter_panel") }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="ml-2">Accueil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('renter_cars') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            <span class="ml-2">Véhicules</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('renter_rents') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            <span class="ml-2">Locations</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('renter_customers') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <span class="ml-2">Clients</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-2">Déconnexion</span>
        </a>
    </li>
{% endblock %}
{% block dashboard_current %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('renter_panel') }}">Panel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Véhicules</li>
        </ol>
    </nav>
{% endblock %}
{% block dashboard_body %}
    <h1 class="h2">Véhicules</h1>
    <div class="row">
        <div class="col">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Listes des véhicules du parc de location <a class="btn btn-primary" href="{{ path('renter_addCar') }}" role="button">Ajouter +</a></h5>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Modèle</th>
                                <th scope="col">Caractéristiques</th> <!-- Idées : https://bootsnipp.com/snippets/Veob -->
                                <th scope="col">Prix/Jour</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in Cars %}
                                <tr {% if not c.isRented %}class='clickable-row' data-href='{{ path('renter_editCar', { 'id': c.getCar.id }) }}' style="cursor: pointer;"{% endif %}>
                                    <th scope="row">#{{ c.getCar.id }}</th>
                                    <th scope="row">{{ c.getCar.type.name }}</th>
                                    <td>
                                        <ul>
                                        {% for key, descr in c.getCar.features %}
                                            <li>{{ key }} : {{ descr }}</li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ c.getCar.price }} €</td>
                                    <td>
                                    {% if c.isRented %}
                                        <span class="badge badge-success">Louée</span>
                                    {% else %}
                                        {% if c.getCar.available %}
                                            <span class="badge badge-primary">Disponible</span>
                                        {% else  %}
                                            <span class="badge badge-secondary">Non disponible</span>
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                    {% if c.isRented %}
                                        <td><a href="#" class="btn btn-sm btn-secondary disabled">En location</a></td>
                                    {% else %}
                                        <td><a href="{{ path('renter_editCar', { 'id': c.getCar.id }) }}" class="btn btn-sm btn-primary">Modifier <i class="fas fa-edit"></i></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block panel_scripts %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}