{% extends 'renter/index.html.twig' %}

{% block panel_style %}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block dashboard_current %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('renter_panel') }}">Panel</a></li>
            <li class="breadcrumb-item"><a href="{{ path('renter_cars') }}">Véhicules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modification Modèle</li>
        </ol>
    </nav>
{% endblock %}
{% block dashboard_body %}
    <h1 class="h2">Modifier modèle</h1>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card rounded shadow-sm border-0 mr-2">
                <div class="card-body">

                    {{ form_start(form) }}

                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>Photo Type du véhicule</label>

                                {{ form_widget(form.imageFile) }}

                                <small>{{ form_help(form.imageFile) }}</small>

                                <div class="form-error">
                                    {{ form_errors(form.imageFile) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="text-center">
                                {{ form_row(form.save) }}
                            </div>
                        </div>
                    </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block panel_scripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}