{% extends 'dashboard.html.twig' %}

{% block panel_style %}
{% endblock %}

{% block sidebard %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path("renter_panel") }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="ml-2">Accueil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('renter_cars') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            <span class="ml-2">Véhicules</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('renter_rents') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
            <span class="ml-2">Locations</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('renter_customers') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <span class="ml-2">Clients</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-2">Déconnexion</span>
        </a>
    </li>
{% endblock %}
{% block dashboard_current %}
{% endblock %}
{% block dashboard_body %}
    <h1 class="h2">Panel</h1>

    <!-- résumé cards-->
    <div class="row equal my-4">

        {% set totalRevenus = 0 %}
        {% for r in rentals %}
            {% if r.getRent.isMonthlyRecurring %}
                {% set totalRevenus = totalRevenus + (r.getRent.price * r.getRent.paidMonths) %}
            {% elseif r.getRent.isPaid %}
                {% set totalRevenus = totalRevenus + r.getRent.price %}
            {% endif %}
        {% endfor %}

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4 text-center">
                    <p class="card-title">Revenus</p>
                    <h2 class="card-text">{{ totalRevenus }} €</h2>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4 text-center">
                    <p class="card-title">Réservations</p>
                    <h2 class="card-text">{{ rentals|length }}</h2>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4 text-center">
                    <p class="card-title">Clients</p>
                    <h2 class="card-text">{{ nbCustomers }}</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- Dernières réservations-->
        <div class="col-12 col-xl-12 mb-12 mb-lg-0">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Dernières réservations</h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Modèle</th>
                                <th scope="col">Client</th>
                                <th scope="col">Montant</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rent in rentals|slice(0,10) %}
                            <tr class='clickable-row' data-href='{{ path('renter_rent_details', { 'id': rent.getRent.id }) }}' style="cursor: pointer;">
                                <th scope="row">{{ rent.getRent.id }}</th>
                                <td>{{ rent.getRent.car.type.name }}</td>
                                <td>{{ rent.getRent.user.email }}</td>
                                <td>{{ rent.getRent.price }} €</td>
                                <td>
                                    <span><a href="{{ path('renter_rent_details', { 'id': rent.getRent.id }) }}" class="btn btn-sm btn-primary">Détails <i class="fas fa-plus-square"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('renter_rents') }}" class="btn btn-block btn-light">Afficher toutes les locations</a>
                </div>
            </div>
        </div>
{#        <div class="col-12 col-xl-4">#}

{#            <div class="card rounded shadow-sm border-0 mb-4">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Revenus sur 6 mois</h5>#}
{#                    <canvas id="revChart"></canvas>#}
{#                </div>#}
{#            </div>#}

{#            <div class="card rounded shadow-sm border-0">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Réservations sur 6 mois</h5>#}
{#                    <canvas id="resChart"></canvas>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
    </div>
{% endblock %}

{% block panel_scripts %}
    {{ encore_entry_script_tags('diagram') }}
    <script>
        // var MOIS = ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet']
        // var revData = {
        //     labels: MOIS,
        //     datasets: [{
        //         label: 'Revenues',
        //         borderColor: window.chartColors.green,
        //         backgroundColor: window.chartColors.green,
        //         fill: false,
        //         data: [
        //             0,
        //             10,
        //             20,
        //             35,
        //             60,
        //             78,
        //             99
        //         ],
        //         yAxisID: 'y-axis-1',
        //     }
        //     ]
        // };
        // var resData = {
        //     labels: MOIS,
        //     datasets: [{
        //         label: 'Revenues',
        //         borderColor: window.chartColors.blue,
        //         backgroundColor: window.chartColors.blue,
        //         fill: false,
        //         data: [
        //             14,
        //             18,
        //             20,
        //             14,
        //             25,
        //             46,
        //             54
        //         ],
        //         yAxisID: 'y-axis-1',
        //     }
        //     ]
        // };

        // window.onload = function() {
        //     var ctx = document.getElementById('revChart').getContext('2d');
        //     window.revChart = Chart.Line(ctx, {
        //         data: revData,
        //         options: {
        //             responsive: true,
        //             hoverMode: 'index',
        //             stacked: false,
        //             scales: {
        //                 yAxes: [{
        //                     type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        //                     display: true,
        //                     position: 'left',
        //                     id: 'y-axis-1',
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Revenues'
        //                     },
        //                     ticks: {
        //                         beginAtZero: true,
        //                         callback: function(value, index, values) {
        //                             return value + ' €';
        //                         }
        //                     }
        //                 }, {
        //                     type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        //                     display: true,
        //                     position: 'right',
        //                     id: 'y-axis-2',
        //
        //                     // grid line settings
        //                     gridLines: {
        //                         drawOnChartArea: false, // only want the grid lines for one axis to show up
        //                     },
        //                 }],
        //             }
        //         }
        //     });
        //
        //     var ctx2 = document.getElementById('resChart').getContext('2d');
        //     window.resChart = Chart.Line(ctx2, {
        //         data: resData,
        //         options: {
        //             responsive: true,
        //             hoverMode: 'index',
        //             stacked: false,
        //             scales: {
        //                 yAxes: [{
        //                     type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        //                     display: true,
        //                     position: 'left',
        //                     id: 'y-axis-1',
        //                     scaleLabel: {
        //                         display: true,
        //                         labelString: 'Réservations'
        //                     },
        //                     ticks: {
        //                         beginAtZero: true,
        //                     }
        //                 }, {
        //                     type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        //                     display: true,
        //                     position: 'right',
        //                     id: 'y-axis-2',
        //
        //                     // grid line settings
        //                     gridLines: {
        //                         drawOnChartArea: false, // only want the grid lines for one axis to show up
        //                     },
        //                 }],
        //             }
        //         }
        //     });
        // };

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}