<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Car'App{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block style %}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('index_home') }}">Car'App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            {% if app.user %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle></svg>
                    Bonjour {{ app.user.name }}
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item" href="{{ path('admin_panel') }}">Administration</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_LOUEUR') %}
                        <li><a class="dropdown-item" href="{{ path('loueur_panel') }}">Panel</a></li>
                        <li><a class="dropdown-item" href="{{ path('loueur_vehicules') }}">Véhicules</a></li>
                        <li><a class="dropdown-item" href="{{ path('loueur_reservations') }}">Réservations</a></li>
                        <li><a class="dropdown-item" href="{{ path('loueur_clients') }}">Clients</a></li>
                        <li><a class="dropdown-item" href="{{ path('loueur_statistiques') }}">Statistiques</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a class="dropdown-item" href="{{ path('user_panel') }}">Compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('user_panel_locations')}}">Locations</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_deconnexion') }}">Déconnexion</a></li>
                </ul>
            </div>
            {% endif %}

            {% if not app.user %}
            <a class="btn border-dark navbar-right" type="button" href="{{ path('app_connexion') }}">
                Inscription/Connexion
            </a>
            {% endif %}

        </div>
    </nav>
</header>

{% block body %}
{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
