{% extends 'dashboard.html.twig' %}

{% block panel_style %}
{% endblock %}

{% block sidebard %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path("user_panel") }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="ml-2">Accueil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_rents') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
            <span class="ml-2">Mes Locations</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-2">Déconnexion</span>
        </a>
    </li>
{% endblock %}
{% block dashboard_current %}
{% endblock %}
{% block dashboard_body %}
    <h1 class="h2">Panel</h1>

    <!-- résumé cards-->
    <div class="row equal my-4">
        <div class="col-12 col-md-6 col-lg-6 mb-6 mb-lg-6">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4 text-center">
                    <p class="card-title">Véhicules louées</p>
                    <h2 class="card-text">{{ rentals|length }}</h2>
                </div>
            </div>
        </div>
        {% set totalPrice = 0 %}
        {% for r in rentals %}
            {% set totalPrice = totalPrice + r.price %}
        {% endfor %}
        <div class="col-12 col-md-6 col-lg-6 mb-6 mb-lg-6">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4 text-center">
                    <p class="card-title">Facture ce mois</p>
                    <h2 class="card-text">{{ totalPrice|number_format(2) }} €</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Dernières réservations-->
        <div class="col-12 col-xl-12 mb-12 mb-lg-12">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Dernières réservations</h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Modèle</th> <!-- Idées : https://bootsnipp.com/snippets/Veob -->
                                <th scope="col">Loueur</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Prix</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- seulement les 10 dernières réservations -->
                            {% for r in rentals|slice(0,10) %}
                                <tr class='clickable-row' data-href='{{ path('user_rent_detail', { 'id': r.id }) }}' style="cursor: pointer;">
                                    <th scope="row">{{ r.id }}</th>
                                    <td>{{ r.car.type.name }}</td>
                                    <td>{{ r.car.renter.name }}</td>
                                    <td>{{ r.startDate|date("m/d/Y") }} - {{ r.endDate|date("m/d/Y") }}</td>
                                    <td>
                                        {% if r.isMonthlyRecurring %}
                                            <span class="badge badge-success">Paiement mensuel</span> {{ r.price }} €/Mois
                                        {% else %}
                                            {{ r.price }} €
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('user_rent_detail', { 'id': r.id }) }}">Détails</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('user_rents') }}" class="btn btn-block btn-light">Afficher toutes les locations</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">



        </div>
    </div>
{% endblock %}

{% block panel_scripts %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}